/*
bg-color: #EAF1E1
nav-bg-color: FDFFFA
accent-color: FDFFFA
footer-color: FDFFFA
detail-color: F9863A
*/

html, body {height: 100%;}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAF1E1;
    font-family: 'Josefin Slab', sans-serif;
} 

.herobillede {
position: relative;
}

.herobillede img {
    width: 100%;
    height: auto;
    display: block;
}

.herobillede .hero-tekst{
    position: absolute;
    text-align: center;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
   

.herobillede h1 {
    color: black;
    font-size: 2em; 
    white-space: nowrap; /* Forhindrer linjeskift - sæt i chat */
    font-family: Julius Sans One, sans-serif;
    
}

.herobillede h2 {
    color: black;
    font-size: 1.5em; 
    font-family: josefin slab, sans-serif;
    margin: 0.5em;
}


/*navigation*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDFFFA;
    padding: 1em;
}

header nav{
background-color: #FDFFFA;
padding: 1em;
display: flex;
justify-content: space-between;
font-family: Julius Sans One, sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav ul li a{
    color: black;
    text-decoration: none;
}

/*forside tekster+knapper*/

.cta{
    text-align: center;
}


button.cta{
    background-color: #F9863A;
    color: white;
    margin: 2em;
    font-family: Julius Sans One, sans-serif;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1em;
    font-size: 30px;
}

button.ctaet{
    background-color: #F9863A;
    color: white;
    margin: 2em;
    font-family: Julius Sans One, sans-serif;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1em;
    font-size: 20px;
}

.bokset{
    text-align: center;
    font-family: 'josefin slab';
    background-color: #FDFFFA;
}

.bokset h3{
    margin: 1em;
    padding: 1em;
    font-size: 30px;
    font-family: Julius Sans One, sans-serif;
}

.bokset p{
margin: 2em;
line-height: 1.5em;
}

button.ctato{
    background-color: #F9863A;
    color: white;
    margin: 2em;
    font-family: Julius Sans One, sans-serif;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1em;
    font-size: 20px;
}

.boksto{
    text-align: center;
    font-family: 'Josefin Slab';
    background-color: #FDFFFA;
    margin: 4em 0em;
}

.boksto p{
    margin: 2em;
    line-height: 1.5em;
}

.boksto h4{
    padding: 1em;
    font-size: 20px;
}

/*footer*/

footer{
    background-color: #FDFFFA;
    padding: 1em;
    display: flex;
    justify-content: center;
    text-align: center; /* Centrerer teksten horisontalt */
}

/*KONTAKTFORMULAR*/ 

.kontaktform {
  border-radius: 5px;
  background-color: #FDFFFA;
  padding: 1.3em;
  width: 80%;
  margin: 2em auto 0 auto; /*Centrerer elementet på siden*/
}

input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 1em;
    border: black 1px solid;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

select, input[type=radio], input[type=submit]{
    cursor: pointer;
}

fieldset{
    border-color: #F9863A;
    border-style: dotted;
    margin-bottom: 1em;
    margin-bottom: 0.8em;
}

input[type=submit]{ /*send besked knap*/
    background-color: #F9863A;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 5px;
    width: 100%;
}

input[type=submit]:hover{
    background-color:#a85b27
}

/*DESKTOP-MEDIA-QUERY*/

@media screen and (min-width: 769px) {
    #bars{
        display: none;
    }

}

/*MOBILE-MEDIA-QUERY*/

@media screen and (max-width: 768px) {
    
    
header nav ul{
        display: none; /*fjerner navigationen på mobil*/
    }

    header nav ul.show{
        display: block; /*viser navigationen når burger menuen er klikket på*/
       
        position: absolute; /*gør at menuen kommer til at ligge ovenpå indholdet*/
        
        top: 80px; /*placerer menuen lige under headeren - skal måske ændres*/
        
        left: 0; /*gør at menuen starter fra venstre side af skærmen*/

        width: 100%; /*gør at menuen fylder hele skærmens bredde*/

        background-color: #EAF1E1;/*ændre baggrundsfarven på menuen*/

        z-index: 1000; /*sørger for at menuen ligger øverst*/
    }

    #bars{
        background-color: transparent; /*gør baggrunden på burger menuen gennemsigtig*/
        border: none; /*fjerner borderen på burger menuen*/
    }

    section:nth-of-type(1) div{
        padding-bottom: 2em; /*tilføjer padding under teksten i første sektion*/
    }

}
